<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <div class="limiter">
		<div class="container-login0">
			<div class="wrap-login0 d-flex justify-content-center">
				<form class="login0-form validate-form w-100" method="post">
					<span class="login0-form-title mt-5">
						404, PAGE NOT FOUND !
					</span>
					
                    <div class="text-center p-t-80">
						<a class="txt" href="/">
							<i class="m-r-5" aria-hidden="true"></i>
                            GO TO HOME
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>